.LinkItem {
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    background-color:aquamarine;
    width: 100px;
    margin: 10px 0 10px 0;
    display: flex;
    align-items: flex-start;
  }

  .SideBar{
    min-height: 100vh;
    position: fixed;
    max-width: 300px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 10px;
  }

  body {
    background-color: #1DA1F2;
  }
  
  .login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type="text"], input[type="password"] {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .login-btn {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #1DA1F2;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    margin: 15px 0;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 4px;
  }
  
  .login-btn:hover, button:active, button:focus {
    background-color: #0c8de4;
  }
  
  .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  
  .message a {
    color: #1DA1F2;
    text-decoration: none;
  }
  